<ul class="pagination">
	<li class="link" [ngClass]="{ 'disabled': pageIndex === 0 }">
		<a (click)="previousPage()" class="page-link prev-page">
			<svg xmlns="http://www.w3.org/2000/svg" width="8" height="12" viewBox="0 0 8 12">
				<g fill="none" fill-rule="evenodd">
					<path fill="#33313C" d="M7.41 1.41L6 0 0 6l6 6 1.41-1.41L2.83 6z"></path>
				</g>
			</svg>
		</a>
	</li>


	<li [ngClass]="{'active': 0 === pageIndex}">
		<a (click)="firstPage()" class="page-link">1</a>
	</li>

	<li *ngIf="showFirstEllipsis()">
		<a class="page-link">...</a>
	</li>

	<li *ngFor="let pageNum of pages" [ngClass]="{'active': pageNum === pageIndex}">
		<a (click)="setPage(pageNum)" class="page-link">{{pageNum + 1}}</a>
	</li>

	<li *ngIf="showLastEllipsis()">
		<a class="page-link">...</a>
	</li>

	<li [ngClass]="{'active': getNumberOfPages()-1 === pageIndex}">
		<a (click)="lastPage()" class="page-link">{{getNumberOfPages()}}</a>
	</li>

	<li class="link" [ngClass]="{ 'disabled': !hasNextPage() }">
		<a (click)="nextPage()" class="page-link next-page">
			<svg xmlns="http://www.w3.org/2000/svg" width="8" height="12" viewBox="0 0 8 12">
				<g fill="none" fill-rule="evenodd">
					<path fill="#33313C" d="M7.41 1.41L6 0 0 6l6 6 1.41-1.41L2.83 6z"></path>
				</g>
			</svg>
		</a>
	</li>
</ul>
<div class="description">
	<span>{{length}} rekordów</span>
	<select (change)="changePageSize(select.value)" #select>
    <option [value]="pageSize" *ngFor="let pageSize of pageSizeOptions">{{pageSize}}/page</option>
  </select>
</div>